@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

/* Navigation Bar */
#header {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  background-color: #184D63;
  color: white;
  height: 100px;
}

.logo-menu-btn {
    color: #3BBFF7;
    max-height: 100px;
}

.logo-menu-btn img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    display: inline-block;
}

.logo-menu-btn h3 {
    font-weight: bold;
    bottom: 20px;
    position: relative;
    display: inline-block;
}

.nav-btns li a {
    font-size: 26px;
    color: #3BBFF7;
    margin-top: 20px;
}

.menu-btn:hover {
  background-color: #2882A8;
  color: #FFFFFF;
  cursor: pointer;
  transition: .25s all ease;
}

/* Carousel Image */
.carousel-container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 1000px;
}

/* Page */
body {
    background-color: #111111;
}

.page-container {
    background-color: #222222;
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.content-heading {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  color: white;
}

.content-container {
    background-color: #184D63;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 3px 3px 3px 3px;
    margin-bottom: 40px;
}

.content {
    font-size: 17px;
    background-color: #424242;
    color: #EEEEEE;
    padding: 5px 5px 5px 5px;
    padding-left: 20px;
display:block;
overflow:auto;
}

.external-link:hover {
    background-color:rgba(0, 0, 0, 0.1);
}

.leadership div div {
  background-color: #333333;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.leadership div div img {
    width: 250px;
    height: 225px;
}